{% extends "internal-base.html" %}
{% load static from staticfiles %}

{% block js %}
<script src="{% static "/custom/js/general.js" %}"></script>
<script src="{% static "/custom/js/accounts.js" %}"></script>
{% endblock %}

{% block accounts_sidetab_active %}class="active"{% endblock %}

{% block content_body %}
<div class="content-header"></div>
<div class="content body">
	{% for customer in customers %}
	<div class="panel panel-success bottom-margin-20">
		<div class="panel-heading cursor-pointer" data-id="{{ customer.id }}">
			<div class="row">
				<div class="col-xs-10">{{ customer.name }}</div>
				<div class="col-xs-2 text-right"><span class="caret"></span></div>
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>
								Bookings
							</th>
							<th>
								Churn
							</th>
							<th>
								Contraction
							</th>
							<th>
								Expansion
							</th>
							<th>
								Month
							</th>
							<th>
								New MRR
							</th>
							<th>
								Total
							</th>
						</tr>
					</thead>
					<tbody>
						<tr class="tr-clone">
							<td data-type="bookings">{{ customer.users_invoices.all.count }}</td>
							<td data-type="churn_mrr"></td>
							<td data-type="contraction_mrr"></td>
							<td data-type="expansion_mrr"></td>
                            {% for mrr in customer.customer_mrr.all %}{% if forloop.last %}
                                <td data-type="month">{{ mrr.month }}</td>
                                <td data-type="new_mrr">{{ mrr }}</td>
                            {% endif %}{% endfor %}
							<td data-type="total"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- New Account: <span data-type="new-account">No</span><br> -->
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
